@page "/register"
@using System.ComponentModel.DataAnnotations
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="register-container">
    <div class="register-header-panel">
        <img src="images/steering-wheel.svg" alt="DriverGuide logo" width="64" height="64" />
        <h5 class="register-title"><b>Rozpocznij naukê ju¿ teraz !</b></h5>
    </div>

    <EditForm Model="@registerModel" OnValidSubmit="HandleRegister">
        <DataAnnotationsValidator />

        <div class="row mb-3">
            <div class="col">
                <label>Login</label><br />
                <InputText @bind-Value="registerModel.Login" class="form-control" />
                <ValidationMessage For="@(() => registerModel.Login)" />
            </div>
            <div class="col">
                <label>Email</label><br />
                <InputText @bind-Value="registerModel.Email" class="form-control" />
                <ValidationMessage For="@(() => registerModel.Email)" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label>Has³o</label><br />
                <InputText @bind-Value="registerModel.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => registerModel.Password)" />
            </div>
            <div class="col">
                <label>Powtórz has³o</label><br />
                <InputText @bind-Value="registerModel.ConfirmPassword" type="password" class="form-control" />
                <ValidationMessage For="@(() => registerModel.ConfirmPassword)" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label>Imiê</label><br />
                <InputText @bind-Value="registerModel.FirstName" class="form-control" />
                <ValidationMessage For="@(() => registerModel.FirstName)" />
            </div>
            <div class="col">
                <label>Nazwisko</label><br />
                <InputText @bind-Value="registerModel.LastName" class="form-control" />
                <ValidationMessage For="@(() => registerModel.LastName)" />
            </div>
            <div class="col">
                <label>Data urodzenia</label><br />
                <InputDate @bind-Value="registerModel.BirthDate" class="form-control" />
                <ValidationMessage For="@(() => registerModel.BirthDate)" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary d-block mx-auto" style="font-size:1.3rem;font-weight:bold;padding:0.75rem 2.5rem;">Za³ó¿ darmowe konto</button>
    </EditForm>

    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-info mt-3">@message</div>
    }
</div>